.git
.idea
.vscode
target
local-storage
postgres-data
pg-data
minio-data
docker-data
backups
.env
.env.*
!.env.example
*.log
*.mp4
*.mp3
*.wmv
*.wav
*.avi
*.gif
*.png
*.jpg
*.jpeg
*.ico
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
