POSTGRES_DB=yingshi
POSTGRES_USER=yingshi
POSTGRES_PASSWORD=yingshi_dev_password
POSTGRES_HOST_PORT=15432

MINIO_ROOT_USER=yingshi_minio_access
MINIO_ROOT_PASSWORD=yingshi_minio_secret
MINIO_BUCKET=yingshi-media

SPRING_PROFILES_ACTIVE=docker
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/yingshi
SPRING_DATASOURCE_USERNAME=yingshi
SPRING_DATASOURCE_PASSWORD=yingshi_dev_password
SPRING_JPA_HIBERNATE_DDL_AUTO=update

STORAGE_PROVIDER=s3
STORAGE_BUCKET=yingshi-media
STORAGE_ENDPOINT=http://minio:9000
STORAGE_REGION=us-east-1
STORAGE_ACCESS_KEY=yingshi_minio_access
STORAGE_SECRET_KEY=yingshi_minio_secret

APP_AUTH_JWT_SECRET=change-me-to-a-long-dev-secret-at-least-32-characters
SERVER_PORT=8080
SERVER_HOST_PORT=8080
